:root {
  --mextension-background-color: #191919;
  --mextension-accent-color-1: #2D4263;
  --mextension-accent-color-2: #C84B31;
  --mextension-highlight-color-1: #ECDBBA;
  --mextension-highlight-color-2: black;
}

.mextension-main-button {
  position: relative;
  display: inline-block;

  border-radius: 6px;
  margin: 5px;
  background-color: var(--mextension-accent-color-1);
  color: var(--mextension-highlight-color-1);
}

.mextension-main-popup {
  width: 95%;
  background-color: var(--mextension-background-color);
  color: var(--mextension-highlight-color-1);
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;

  border-style: solid;
  border-width: 6px;
  border-radius: 15px;
  padding: 2px;
  margin: 15px;

  visibility: visible;
}

.mextension-popup {
  background-color: var(--mextension-background-color);
  color: var(--mextension-highlight-color-1);

  border-style: solid;
  border-width: 6px;
  border-radius: 15px;
  padding: 2px;
  margin: 15px;

  text-align: center;
  position: absolute;
  bottom: 125%;
}

.mextension-input-container {
  display: list-item;
  list-style: none;
}

.mextension-input {
  background-color: var(--mextension-background-color);
  color: var(--mextension-highlight-color-1);
  border-color: var(--mextension-highlight-color-1);

  padding: 6px;
  overflow: auto;
  width: 90%;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  border-style: solid;
  border-width: 6px;
  border-radius: 15px;
  margin: 15px;
  resize: none;
}

/* width */
.mextension-input::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.mextension-input::-webkit-scrollbar-track {
  background: var(--mextension-background-color);
}

/* Handle */
.mextension-input::-webkit-scrollbar-thumb {
  background: var(--mextension-highlight-color-2);
}

/* Handle on hover */
.mextension-input::-webkit-scrollbar-thumb:hover {
  background: var(--mextension-highlight-color-1);
}

.mextension-button-container {
  display: flex;
  justify-content: center;
}

.mextension-button {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  margin: 5px;
  background-color: var(--mextension-accent-color-1);
  color: var(--mextension-highlight-color-1);
}

.mextension-arrow-button {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  margin: 5px;
  background-color: var(--mextension-accent-color-2);
  color: var(--mextension-highlight-color-1);
}
