.mextension-main-button {
  background-color: var(--mextension-background-color);
  color: var(--mextension-text-color);
  position: relative;
  display: inline-block;
}

.mextension-main-popup {
  width: 100%;
  background-color: var(--mextension-background-color);
  color: var(--mextension-text-color);
  text-align: center;
  border-radius: 8px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;

  visibility: visible;
}

.mextension-popup {
  background-color: var(--mextension-background-color);
  color: var(--mextension-text-color);
  border-radius: 8px;
  text-align: center;
  position: absolute;
  bottom: 125%;
}

.mextension-input-container {
  display: list-item;
  list-style: none;
}

.mextension-button-container {
  display: flex;
  justify-content: center;
}

.mextension-button {
  width: 100%;
  background-color: var(--mextension-background-color);
  border-radius: 6px;
  color: var(--mextension-text-color);
}

.mextension-arrow-button {
  width: 25px;
  height: 25px;
  background-color: var(--mextension-text-color);
}
